<body>
<h1>Notiz Bearbeiten</h1>
{{#each note}}
<form action='/edit/{{_id}}/' method='post'>
    <dd>
        Titel:
        <input title='Titel' type="text" name='title' value="{{title}}" required>
    </dd>
    <dd>
        Beschreibung:
        <input title='Beschreibung' type="text" name='description' value="{{description}}" required>
    </dd>
    <dd>
        Wichtigkeit:
        <input pattern="[1-5]" name="importance" value="{{importance}}" required>
    </dd>
    <dd>
        Fertig bis:
        <input pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" name='finishedTill' value="{{finishedTill}}" required>
    </dd>
    <dd>
        {{#if finished}}
            <input name='finished' type="checkbox" value="on" checked> Erledigt!
        {{else}}
            <input name='finished' type="checkbox" value="on"> Erledigt!
        {{/if}}
    </dd>
    <dd>
        <input type='submit' value='Speichern'>
    </dd>
    </dt>
</form>
<form action='/del/{{_id}}/' method='post'><input type='submit' value='Löschen'></form>
{{/each}}
<form action='/' method='get'><input type='submit' value='Abbrechen'></form>
</body>