<body>
    <h1>Notizblock</h1>

    <div id="index_newnote_styleswitch">
        <form id= "newNote" action='/notes/' method='get'><button class= "options" type='submit'>
            Neue Notiz
        </button></form>
        <form id= "styler" action='/style/' method='get'><button class= "options" type='submit'>
            Style Wechseln
        </button></form>
    </div>
    <div id="index_sort">
        <form action='/sort/finishedTill/' method='get'><button class= "options" type='submit'>
            Fertig bis
            {{#equal sorting 'finishedUp'}}
                ↑
            {{/equal}}
            {{#equal sorting 'finishedDown'}}
                ↓
            {{/equal}}
        </button></form>
        <form action='/sort/created/' method='get'><button class= "options" type='submit'>
            Erstellt am
            {{#equal sorting 'createdUp'}}
                ↑
            {{/equal}}
            {{#equal sorting 'createdDown'}}
                ↓
            {{/equal}}
        </button></form>
        <form action='/sort/importance/' method='get'><button class= "options" type='submit'>
            Wichtigkeit
            {{#equal sorting 'importanceUp'}}
                ↑
            {{/equal}}
            {{#equal sorting 'importanceDown'}}
                ↓
            {{/equal}}
        </button></form>
        <div class="index_space"></div>
        <form action='/invisible' method='get'><button class= "options" type='submit'>
            Fertige verbergen
            {{#equal invisible true}}
                ✓
            {{/equal}}
        </button></form>
    </div>
    <h2>{{title}}</h2>

    {{#each note}}
        <section>

            <div class="index_section_header">
                <p>{{finishedTill}}</p>
                <p class="index_title_space">{{title}}</p>
                <div class="index_space"></div>
                <img class="index_star" src="/images/star{{importance}}.png">

            </div>



            <div class="index_section_content">
                {{#if finished}}
                <form action="/" method="post"><input type="checkbox" class="index_check" checked readonly>
                    <label for=check">Erledigt</label></form>
                {{else}}
                    <form action="/" method="post"><input type="checkbox" class="index_check" readonly>
                        <label for="check">Erledigt</label></form>
                {{/if}}
                <textarea class="index_textarea" readonly>{{description}}</textarea>
                <form action='/edit/{{_id}}' method='get'><input class="index_edit" type='submit' value='Bearbeiten'></form>

            </div>
        </section>
    {{/each}}
</body>
