<body>
<h1>Notizblock</h1>

<div id="container">
    <form id= "newNote" action='/notes/' method='get'><input type='submit' value='Neue Notiz'></form>
    <form id= "styler" action='/style/' method='style'><input type='submit' value='Style Wechseln'></form>
</div>
<div id="container2">
    <form action='/sort/finishedTill/' method='order1'><input id= "order1" type='submit' value='by Fertigdatum'></form>
    <form action='/sort/created/' method='order2'><input id= "order2" type='submit' value='by Erstelldatum'></form>
    <form action='/sort/importance/' method='order3'><input id= "order3" type='submit' value='by Wichtigkeit'></form>
    <div class="space"></div>
    <form action='/invisible' method='invisible'><input id= "makeInvivible" type='submit' value='Fertige verbergen'></form>
</div>

<header>{{title}}</header>
    {{#each note}}
        <div class="container3">

            <div class="container4">
                <p>{{finishedTill}}</p>
                <p class="title_space">{{title}}</p>
                <div class="space"></div>
                <img class="star" src="/images/star{{importance}}.png">

            </div>



            <div class="container5">
                {{#if finished}}
                <form action="/" method="post"><input type="checkbox" class="check" checked readonly>
                    <label for="check">Erledigt</label></form>
                {{else}}
                    <form action="/" method="post"><input type="checkbox" class="check" readonly>
                        <label for="check">Erledigt</label></form>
                {{/if}}
                <textarea class="textarea" readonly>{{description}}</textarea>
                <form action='/edit/{{_id}}' method='get'><input class="edit" type='submit' value='Bearbeiten'></form>

            </div>
        </div>
    {{/each}}
</body>
