<html>
<h1>Notizblock</h1>

<header>{{title}}</header>
{{#if note}}
    {{#each note}}

        <p>Titel: {{title}}</p>
        <p>Wichtigkeit: {{importance}}</p>
        <p>Fertig bis: {{finishedTill}}</p>


    {{/each}}

{{else}}
    <p>Keine Notizen!</p>
{{/if}}
<form action='/notes' method='get'><input type='submit' value='Neue Notiz'></form>
</html>