<body>
<h1>Notizblock</h1>

<div id="index_newnote_styleswitch">
    <form id= "newNote" action='/notes/' method='get'><input class= "options" type='submit' value='Neue Notiz'></form>
    <form id= "styler" action='/style/' method='style'><input class= "options" type='submit' value='Style Wechseln'></form>
</div>
<div id="index_sort">
    <form action='/sort/finishedTill/' method='order1'><input class= "options" type='submit' value='by Fertigdatum'></form>
    <form action='/sort/created/' method='order2'><input class= "options" type='submit' value='by Erstelldatum'></form>
    <form action='/sort/importance/' method='order3'><input class= "options" type='submit' value='by Wichtigkeit'></form>
    <div class="index_space"></div>
    <form action='/invisible' method='invisible'><input class= "options" type='submit' value='Fertige verbergen'></form>
</div>

<header>{{title}}</header>
    {{#each note}}
        <section>

            <div class="index_section_header">
                <p>{{finishedTill}}</p>
                <p class="index_title_space">{{title}}</p>
                <div class="index_space"></div>
                <img class="index_star" src="/images/star{{importance}}.png">

            </div>



            <div class="index_section_content">
                {{#if finished}}
                <form action="/" method="post"><input type="checkbox" class="index_check" checked readonly>
                    <label for=check">Erledigt</label></form>
                {{else}}
                    <form action="/" method="post"><input type="checkbox" class="index_check" readonly>
                        <label for="check">Erledigt</label></form>
                {{/if}}
                <textarea class="index_textarea" readonly>{{description}}</textarea>
                <form action='/edit/{{_id}}"' method='get'><input class="index_edit" type='submit' value='Bearbeiten'></form>

            </div>
        </section>
    {{/each}}
</body>
