<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<h1>Notizblock</h1>
<div id = "container">
    <form action='/sort/created/' method='get'><input type='submit' value='by Erstelldatum'></form>
    <form action='/sort/finishedTill/' method='get'><input type='submit' value='by Fertigdatum'></form>
    <form action='/sort/importance/' method='get'><input type='submit' value='by Wichtigkeit'></form>
    <form action='/' method='get'><input type='submit' value='Fertige verbergen'></form>
    <form action='/' method='style'><input type='submit' value='Style Wechseln'></form>

</div>
<header>{{title}}</header>
{{#if note}}
    {{#each note}}
        <div class="title"><p>Titel: {{title}}</p></div>
        <div class="importance"><p>Wichtigkeit: {{importance}}</p></div>
        <div class="finishedTill"><p>Fertig bis: {{finishedTill}}</p></div>
        <div class="finished"><p>Erledigt: {{#if finished}}
        Ja
        {{else}}
        Nein
        {{/if}}</p></div>
        <form id="edit" action='/edit/{{_id}}' method='get'><input type='submit' value='Editieren'></form>
    {{/each}}
{{else}}
    <p>Keine Notizen!</p>
{{/if}}
<form id= "newNote" action='/notes' method='get'><input type='submit' value='Neue Notiz'></form>
</body>
</html>