<body>
<h1>Notizblock</h1>

<div id="container">
    <form id= "newNote" action='/notes/' method='get'><input type='submit' value='Neue Notiz'></form>
    <form id= "styler" action='/style/' method='style'><input type='submit' value='Style Wechseln'></form>
</div>
<div id="container2">
    <form id= "order2" action='/sort/finishedTill/' method='order1'><input type='submit' value='by Fertigdatum'></form>
    <form id= "order1" action='/sort/created/' method='order2'><input type='submit' value='by Erstelldatum'></form>
    <form id= "order3" action='/sort/importance/' method='order3'><input type='submit' value='by Wichtigkeit'></form>
    <div class="space"></div>
    <form id= "makeInvivible" action='/invisible' method='invisible'><input type='submit' value='Fertige verbergen'></form>
</div>

<header>{{title}}</header>
    {{#each note}}
        <div class="container3">
            <div class="container6">
                {{#if finished}}
                    <input type="checkbox" id="check1" checked readonly>
                    <label for="check1">Erledigt</label>
                {{else}}
                    <form action="/" method="post"><input type="checkbox" id="check2" readonly>
                    <label for="check2">Erledigt</label></form>
                    <p>Zu Erledigen bis: {{finishedTill}}</p>
                {{/if}}
            </div>
            <div class="container4">
                <div class="container5">
                    <p>{{title}}</p>
                    <p>{{importance}}</p>
                </div>
                <textarea class="textarea" readonly>{{description}}</textarea>
            </div>
            <form action='/edit/{{_id}}' method='get'><input class="edit" type='submit' value='Editieren'></form>
        </div>
    {{/each}}
</body>
